In [1]:
import pandas as pd
import numpy as np
import csv
import cx_Oracle

# utf-8 cp1251

In [2]:
df = pd.read_csv("C:\Jypiter\Glob_terror.csv", encoding='latin1', error_bad_lines = False, warn_bad_lines = False, low_memory=False)

In [3]:
df.head(10)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
5,197001010002,1970,1,1,NaN,0,NaN,217,United States,1,...,"The Cairo Chief of Police, William Petersen, r...","""Police Chief Quits,"" Washington Post, January...","""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN
6,197001020001,1970,1,2,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
7,197001020002,1970,1,2,NaN,0,NaN,217,United States,1,...,"Damages were estimated to be between $20,000-$...",Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
8,197001020003,1970,1,2,NaN,0,NaN,217,United States,1,...,The New Years Gang issue a communiqué to a loc...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project,0,0,0,0,NaN
9,197001030001,1970,1,3,NaN,0,NaN,217,United States,1,...,"Karl Armstrong's girlfriend, Lynn Schultz, dro...",Committee on Government Operations United Stat...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...",Hewitt Project,0,0,0,0,NaN

In [4]:
features = ['iyear', 'imonth', 'iday', 'country_txt', 'region_txt', 'latitude', 'longitude']
df = df.loc[:,features]
df = df.dropna().reset_index(drop=True)

In [8]:
df.head(20)

,iyear,imonth,iday,country_txt,region_txt,latitude,longitude
0,1970,7,2,Dominican Republic,Central America & Caribbean,18.456792,-69.951164
1,1970,0,0,Mexico,North America,19.371887,-99.086624
2,1970,1,0,Philippines,Southeast Asia,15.478598,120.599741
3,1970,1,0,Greece,Western Europe,37.997490,23.762728
4,1970,1,0,Japan,East Asia,33.580412,130.396361
5,1970,1,1,United States,North America,37.005105,-89.176269
6,1970,1,2,Uruguay,South America,-34.891151,-56.187214
7,1970,1,2,United States,North America,37.791927,-122.225906
8,1970,1,2,United States,North America,43.076592,-89.412488
9,1970,1,3,United States,North America,43.072950,-89.386694
10,1970,1,1,United States,North America,43.468500,-89.744299
11,1970,1,6,United States,North America,39.758968,-104.876305
12,1970,1,8,Italy,Western Europe,41.890961,12.490069
13,1970,1,9,United States,North America,42.331685,-83.047924
14,1970,1,9,United States,North America,18.386932,-66.061127
15,1970,1,10,East Germany (GDR),Eastern Europe,52.501530,13.401851
16,1970,1,12,United States,North America,40.697132,-73.931351
17,1970,1,12,United States,North America,18.379998,-65.830948
18,1970,1,13,United States,North America,47.610786,-122.331306
19,1970,1,14,United States,North America,40.116748,-88.239270

In [9]:
df.loc[:,'accident_date'] = df.astype('str').loc[:,'iyear'] + df.astype('str').loc[:,'imonth'] + df.astype('str').loc[:,'iday']
df.head(100)

,iyear,imonth,iday,country_txt,region_txt,latitude,longitude,accident_date
0,1970,7,2,Dominican Republic,Central America & Caribbean,18.456792,-69.951164,197072
1,1970,0,0,Mexico,North America,19.371887,-99.086624,197000
2,1970,1,0,Philippines,Southeast Asia,15.478598,120.599741,197010
3,1970,1,0,Greece,Western Europe,37.997490,23.762728,197010
4,1970,1,0,Japan,East Asia,33.580412,130.396361,197010
5,1970,1,1,United States,North America,37.005105,-89.176269,197011
6,1970,1,2,Uruguay,South America,-34.891151,-56.187214,197012
7,1970,1,2,United States,North America,37.791927,-122.225906,197012
8,1970,1,2,United States,North America,43.076592,-89.412488,197012
9,1970,1,3,United States,North America,43.072950,-89.386694,197013
10,1970,1,1,United States,North America,43.468500,-89.744299,197011
11,1970,1,6,United States,North America,39.758968,-104.876305,197016
12,1970,1,8,Italy,Western Europe,41.890961,12.490069,197018
13,1970,1,9,United States,North America,42.331685,-83.047924,197019
14,1970,1,9,United States,North America,18.386932,-66.061127,197019
15,1970,1,10,East Germany (GDR),Eastern Europe,52.501530,13.401851,1970110
16,1970,1,12,United States,North America,40.697132,-73.931351,1970112
17,1970,1,12,United States,North America,18.379998,-65.830948,1970112
18,1970,1,13,United States,North America,47.610786,-122.331306,1970113
19,1970,1,14,United States,North America,40.116748,-88.239270,1970114
20,1970,1,15,Uruguay,South America,-34.891151,-56.187214,1970115
21,1970,1,19,United States,North America,47.610786,-122.331306,1970119
22,1970,1,19,United States,North America,47.610786,-122.331306,1970119
23,1970,1,19,United States,North America,40.717892,-74.067467,1970119
24,1970,1,20,Guatemala,Central America & Caribbean,14.622869,-90.529068,1970120
25,1970,1,21,Philippines,Southeast Asia,14.674280,121.057495,1970121
26,1970,1,22,Venezuela,South America,10.482834,-66.962128,1970122
27,1970,1,22,United States,North America,42.470310,-96.413949,1970122
28,1970,1,25,United States,North America,33.606510,-88.650419,1970125
29,1970,1,25,United States,North America,40.697132,-73.931351,1970125
...,...,...,...,...,...,...,...,...
70,1970,2,17,United States,North America,39.334825,-77.431653,1970217
71,1970,2,17,United States,North America,30.493919,-90.132512,1970217
72,1970,2,17,United States,North America,47.610786,-122.331306,1970217
73,1970,2,18,United States,North America,41.479561,-81.675461,1970218
74,1970,2,18,United States,North America,38.100830,-122.254954,1970218
75,1970,2,20,United States,North America,41.763325,-72.674069,1970220
76,1970,2,20,United States,North America,40.697132,-73.931351,1970220
77,1970,2,20,United States,North America,47.610786,-122.331306,1970220
78,1970,2,21,West Germany (FRG),Western Europe,50.117970,8.644191,1970221
79,1970,2,21,Switzerland,Western Europe,47.368650,8.539182,1970221
80,1970,2,21,United States,North America,40.697132,-73.931351,1970221
81,1970,2,21,United States,North America,40.697132,-73.931351,1970221
82,1970,2,21,United States,North America,40.697132,-73.931351,1970221
83,1970,2,21,United States,North America,39.758968,-104.876305,1970221
84,1970,2,22,United States,North America,42.455233,-76.475847,1970222
85,1970,2,22,United States,North America,43.287052,-89.724361,1970222
86,1970,2,23,United States,North America,42.470310,-96.413949,1970223
87,1970,2,23,United States,North America,42.470310,-96.413949,1970223
88,1970,2,23,United States,North America,42.470310,-96.413949,1970223
89,1970,2,23,United States,North America,42.470310,-96.413949,1970223
90,1970,2,23,United States,North America,32.222232,-110.925752,1970223
91,1970,2,24,United States,North America,39.758968,-104.876305,1970224
92,1970,2,24,United States,North America,40.101952,-88.227161,1970224
93,1970,2,27,United States,North America,40.007581,-105.265942,1970227
94,1970,2,28,Jordan,Middle East & North Africa,31.530243,35.094162,1970228
95,1970,3,0,Philippines,Southeast Asia,14.596051,120.978666,197030
96,1970,3,1,Italy,Western Europe,41.890961,12.490069,197031
97,1970,3,1,United States,North America,40.007581,-105.265942,197031
98,1970,3,1,United States,North America,38.864281,-104.778412,197031
99,1970,3,1,United States,North America,40.007581,-105.265942,197031

In [11]:
con2 = cx_Oracle.connect('SYSTEM/legomania97@//localhost:1521/xe') # логин/пароль@сервер:порт/база данных

#create

def create(con2):
    cur = con2.cursor()
    statement = 'CREATE TABLE podft (iyear varchar2 (20 char),imonth varchar2 (20 char),iday varchar2 (20 char),country_txt varchar2 (200 char),region_txt varchar2 (200 char),latitude varchar2 (20 char),longitude varchar2 (20 char),accident_date varchar2 (20 char))'
    cur.execute(statement)
    con2.commit()

#insert

def insert(con2):
    cur = con2.cursor()
    statement = 'insert into podft values (:2, :3, :4, :5, :6, :7, :8, :9)'
    for index, row in df.iterrows():
        cur.execute(statement, (row['iyear'],row['imonth'],row['iday'],row['country_txt'],row['region_txt'],row['latitude'],row['longitude'],row['accident_date']))
    con2.commit()

#select

def select(con2):
    cur = con2.cursor()
    statement = 'SELECT * FROM podft'
    dt = cur.execute(statement)
    for res in dt:
        print(res)
    data = cur.fetchall()
    print(data)
    con2.commit()

#drop
def drop(con2):
    cur = con2.cursor()
    statement = 'DROP TABLE podft'
    cur.execute(statement)
    con2.commit()
    
create(con2)
insert(con2)
#select(con2)
#drop(con2)

con2.close()